.app.dark {
  --bg-color: #333;
  --inverted-bg-color: #FFFDD0;
  --primary-color: #333333;
  --secondary-color: #9E9E9E;
  --primary-gradient: linear-gradient(75.86deg, #6320E6 6.84%, #7B59FD 99.53%);
  --secondary-gradient: linear-gradient(270.4deg, #6E27F8 -85.22%, #20D9C0 164.99%);
}